/* FONTS */
@font-face { 
    font-family: 'Coustard'; 
    src: url('../fonts/coustard-black.eot'); 
    src: url('../fonts/coustard-black?#iefix') format('embedded-opentype'), 
         url('../fonts/coustard-black.woff') format('woff'), 
         url('../fonts/coustard-black.ttf') format('truetype'), 
         url('../fonts/coustard-black.svg#coustard-black') format('svg'); 
}

/* Style General*/
body{
    background-color: #F2F2F2;
    font-family: 'Coustard';
    font-weight: 400;
    overflow: hidden;
}