/* FONTS */
@font-face { 
    font-family: 'Coustard'; 
    src: url('../fonts/coustard-black.eot'); 
    src: url('../fonts/coustard-black?#iefix') format('embedded-opentype'), 
         url('../fonts/coustard-black.woff') format('woff'), 
         url('../fonts/coustard-black.ttf') format('truetype'), 
         url('../fonts/coustard-black.svg#coustard-black') format('svg'); 
    font-weight: 800; 
}

@font-face { 
    font-family: 'Coustard'; 
    src: url('../fonts/coustard-regular.eot'); 
    src: url('../fonts/coustard-regular?#iefix') format('embedded-opentype'), 
         url('../fonts/coustard-regular.woff') format('woff'), 
         url('../fonts/coustard-regular.ttf') format('truetype'), 
         url('../fonts/coustard-regular.svg#coustard-regular') format('svg'); 
    font-weight: 400; 
}
@font-face { 
    font-family: 'icomoon'; 
    src: url('../fonts/icomoon.eot'); 
    src: url('../fonts/icomoon?#iefix') format('embedded-opentype'), 
         url('../fonts/icomoon.woff') format('woff'), 
         url('../fonts/icomoon.ttf') format('truetype'), 
         url('../fonts/icomoon.svg#icomoon') format('svg'); 
}

/* Style General*/
body{
    background-color: #F2F2F2;
    font-family: 'Coustard';
    font-weight: 400;
    overflow: hidden;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
    content: "\e600";
}.icon-settings:before {
    content: "\e601";
}.icon-bubble:before {
    content: "\e602";
}.icon-bulb:before {
    content: "\e607";
}.icon-mail:before {
    content: "\e609";
}.icon-note:before {
    content: "\e60a";
}.icon-pen:before {
    content: "\e608";
}.icon-calendar:before {
    content: "\e60e";
}




/*  NAVBAR  */  
.navbar{
    position:absolute;
    top:0; left:0; right:0; height:40px;
    background-color: #384d5b;
}

    #idleLogo{
        float:left;
        margin:5px 5px 5px 30px; padding:0;
        height:30px;
    }
    .toolbar{
        margin:0; padding:0;
        width:400px;
        float:right;
    }
        .toolbar li{
            list-style-type: none;
            margin: 9px 20px 0 20px;
            float:right;
        }
            .toolbar li a{
                font-size:20px;
                text-decoration: none;
                color: #F2F2F2;
            }

            .toolbar .active, .toolbar li a:hover{
                color: #f3dba3;
                transition: color 500ms;
            }

/*  LEFTBAR  */
#leftbar{
    background-color: #4d6b7c;
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0px;
    width: 300px;
}
    #leftbar h2{
        margin-left:95px;
        font-size: 24px;
        color: #F2F2F2;
        font-weight:400;
    }
    #leftbar ul{
        margin: 0;
        padding:0;
    }
    #leftbar ul li:nth-child(1){
        margin-top: 20px !important;
    }
        #leftbar ul li{
        list-style-type: none;
        width: 295px;
        height: 40px;
        margin: 5px 0 0 5px;
        cursor: pointer;
        color: #F2F2F2;
        background-color: #384d5b;
        }
            #leftbar ul li p {
                padding:8px 0 0 20px;
                margin: 0;
                float:left;
            }
            .locationLeftbar{
                float:right;
                font-size:11px;
                margin-top:12px;
                padding-right: 7px;
            }
        #leftbar ul li:hover{
            transition: background-color 500ms;
            background-color: #f3dba3;
        }


/*  THUMBNAIL  */
#contentWrapperIndex{
    position: absolute;
    left: 300px;
    right: 0;
    top:40px;
    padding: 15px 0 15px 15px;
    bottom:0;
    background-color: #F2F2F2;
    overflow: auto;
}
    #contentWrapperIndex ul{
        margin:0;
        padding:0;
    }

        #contentWrapperIndex ul li{
            list-style-type: none;
            width: 250px;
            height: 200px;
            background-color: red;
            margin: 10px;
            float:left;
        }
            #contentWrapperIndex ul li img{
                float:left;
            }

            .thumbnailContent{
                margin: 0px 0 0 0; padding:0;
                float: left;
                width: 250px !important;
                height:50px !important;
                background-color: #384d5b;
                color: #4d6b7c;
            }

            .progressBarThumb{
                width:20%;
                float:left;
                height:3px;
                background-color: #f3dba3;
            }

            .thumbAlert{
                z-index: 5;
                color: #303030;
                float:left;
                margin: -180px 0 0 220px;
                font-size: 18px;
            }
            .thumbAlert:hover{
                color: #F2F2F2;
                transition: color 200ms;
            }


#contentWrapperMessage{
    position: absolute;
    left: 300px;
    right: 0;
    top:40px;
    padding: 15px 0 15px 15px;
    bottom:0;
    background-color: #F2F2F2;
    overflow: hidden;
}

#messageWrapper{
    margin:15px;
    width:600px;
    height:96%;
    background-color: white;
    float:left;
    overflow:hidden;
}
    #messageMenu{
        width: 40px;
        height:100%;
        background-color: #384d5b;
        border-right: 3px solid #f3dba3;
        float:left;
    }
        #messageMenu ul{
            margin:0;
            padding:0;
        }
            #messageMenu ul li{
                width: 30px;
                height:40px;
                padding: 10px 0 0 10px;
                float: left;
                list-style-type: none;
                font-size: 22px;
                color: #F2F2F2;
                cursor:pointer;
            }

                #messageMenu ul li.active, #messageMenu ul li:hover{
                    background-color: #f3dba3;
                    color: #303030;
                    transition: background-color 200ms, color 200ms;
                }
                #messageMenu ul li.active:hover{
                    transition: color 200ms; 
                    color: #F2F2F2;
                }

            #messageMenu ul li:nth-child(2){
                padding-top: 5px;
            }


.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
    #messageContentMail, #messageContentPen, #messageContentNote, #messageContentCalendar{
        width: 557px;
        height: 700px;
        overflow: auto;
        margin: 0; padding:0;
        float:left;
    }

        .messgageContent{
            width: 500px;
            height: auto;
            margin: 10px 8px;
            float:left;
        }
    
            .messageDate{
                width: 100%;
                color: #CECECE;
                border-top: #CECECE solid 2px;
                font-size: 11px;
            }
    
            .messagetext{
                margin-top: 0;
                padding-top: 0;
                font-size: 13px;
            }
    
            .messsageEnvoyé{
                float: right;
                text-align: right;
            }
    
            .messsageRecu{
                float: left;
                text-align: left;
            }

#contentWrapperCompany{
 float: left;
 margin: 15px 10px 5px 10px;
 width: 400px;
 height: 54%;
 background-color: white;

}

#contentWrapperLocation{
 float:left;
 margin: 10px;
 width: 400px;
 height: 40%;
 background-color: white;
}




