#profil_content{
	width:745px;
	margin: 20px auto;
}

.bloc_form{
	background-color: #F2F2F2;
	width: 300px;
	margin: 0 30px;
	padding: 0 5px;
	position: relative;
	display: inline-block;

	-moz-box-shadow: 1px 2px 5px 0px #303030;
	-webkit-box-shadow: 1px 2px 5px 0px #303030;
	-o-box-shadow: 1px 2px 5px 0px #303030;
	box-shadow: 1px 2px 5px 0px #303030;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#303030, Direction=153, Strength=5);
}


	#block_right{
		width:310px;
		margin: 0 30px;
	}

	.bloc_form h1{
		position: absolute;
		top:0; left: 0; right:0;
		color: white;
		padding: 15px 0 15px 15px;
		background-color: #3498DB;
		font-size: 18px;
		margin: 0;
	}

		.bloc_input{
			margin-top: 65px;
		}

		.bloc_input input{
			width: 270px;
			margin: 5px 0;
		}

		.input_button_profil{
			float:right;
			display: inline-block;
    		padding: 6px 12px;
    		margin-bottom: 0px;
    		margin: 5px;
    		font-size: 14px;
    		font-weight: 400;
    		line-height: 1.42857;
    		text-align: center;
    		white-space: nowrap;
    		vertical-align: middle;
    		cursor: pointer;
    		-moz-user-select: none;
    		background-image: none;
    		border: 1px solid transparent;
    		border-radius: 4px;
    		color: #333;
    		background-color: #FFF;
    		border-color: #CCC;
    		transition: border-color 0.15s ease-in-out 0s;
		}

		.input_button_profil.actif{
			color: #ffffff;
    		background-color: #3498DB;
    		border-color: #2980B9;
		}

		.input_button_profil.warning{
			float: left;
			margin: 20px 0 0 30px;
			width: 310px;
			text-align:center;
			color: #ffffff;
    		background-color: #E74C3C;
    		border-color: #872C23;

    		-moz-box-shadow: 1px 2px 5px 0px #303030;
			-webkit-box-shadow: 1px 2px 5px 0px #303030;
			-o-box-shadow: 1px 2px 5px 0px #303030;
			box-shadow: 1px 2px 5px 0px #303030;
			filter:progid:DXImageTransform.Microsoft.Shadow(color=#303030, Direction=153, Strength=5);
		}